.container_main {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main_h1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}

.main_h2 {
    font-size: 28px;
    font-weight: 600;
    border-bottom: 1px solid #dddcdc;
    padding-bottom: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70%;
    margin: 0 auto;
}

.poster {
    max-width: 80%;
    border-radius: 20px;
    place-self: center;
    gap: 24px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 30px;
    border: solid rgb(226, 226, 226);
    padding: 40px;
    border-radius: 20px;
    width: 80%;
    height: 70%;
}

.movie_title {
    font-size: 20px;
    font-weight: 600;

}

.overview {
    font-size: 16px;
    color: rgb(72, 72, 72);
    line-height: 1.6;
}

.h2 {
    color: rgb(72, 72, 72);
}

.link_group {
    display: flex;
    gap: 10px;
}

.link {
    border: solid rgb(222, 222, 222);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    width: 24%;
}