.group {
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(242, 241, 241);
    transition: transform 0.2s ease-in-out;

}

.group:hover {
    transform: scale(0.97);
}

.movie {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 25px;
    place-items: center;
}

.movie img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 20px;
}


.movie a {
    text-align: center;
}

.button {
    border: solid black;
    border-radius: 10px;
}